@tailwind base;

@tailwind components;
@tailwind utilities;

@import '~react-image-gallery/styles/scss/image-gallery.scss';

a {
  text-decoration: underline;
}
details[open] {
  & + .sublinks {
    visibility: visible;
    animation: show-sublinks 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  }
}
.sublinks {
  // @include transition(all, 0.7s, cubic-bezier(0.075, 0.82, 0.165, 1));
  // transition-delay: 0.7s;
  animation: hide-sublinks 4s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  margin-top: -100%;
  opacity: 0;
  // visibility: hidden;

  @keyframes hide-sublinks {
    0% {
      margin-top: 0;
      opacity: 1;
    }

    100% {
      opacity: 0;
      margin-top: -100%;
    }
  }

  @keyframes show-sublinks {
    0% {
      opacity: 0;
      margin-top: -100%;
    }

    100% {
      margin-top: 0;
      opacity: 1;
    }
  }
}
